@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: #F1E9D2;
}

:root {
    --border-styling: 5px solid #023020;
    --vt-blue: #7EA3CF;
    --vt-yellow: #EFDD6F;
}

/* Navitgation */
.navigation-container {
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: var(--border-styling);
    background-color: var(--vt-blue);
}

.navigation-container h1 {
    color: var(--vt-yellow);
    font-size: 3em;
}

/* Derived Stats */
.derived-stats-container {
    margin-top: calc(8vh + 10px);
    padding: 5px;
    text-align: center;
    border: var(--border-styling);
    border-bottom: none;
}

.derived-stats {
    display: inline-block;
    padding: 5px;
    margin-left: 30px;
}

/* S.P.E.C.I.A.L. Stats */
.special-container {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: var(--border-styling);
    border-right: none;
}

.special-container span {
    font-size: 1.2em;
}

.special-container #pointsLeft {
    font-size: 1em;
}

.stat-container {
    margin-top: 20px;
}

.button {
    border: none;
    background: none;
    font-size: 1.2em;
    text-shadow: 2px 2px 5px grey;
}

.button:hover {
    color: var(--vt-blue);
}

/* Skills */
.skill-container {
    padding-left: 10px;
    border: var(--border-styling)
}

.skill {
    margin-top: 20px;
    border: 2px solid transparent;
}

.skill:hover {
    border: 2px solid var(--vt-blue);
}


/* Footer */
.footer-container {
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 10px;
    border-top: var(--border-styling);
    background-color: var(--vt-blue);
    height: 8vh;
    color: var(--vt-yellow);
}

.footer-container a {
    color: var(--vt-yellow);
}

.footer-container a:hover {
    color: black;
}